body {
  display: flex;
  min-height: 100vh;
  background: rgb(31, 31, 31);
  color: rgb(236, 236, 236);
  font-family: 'Courier new';
  font-size: 16px;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  display: grid;
  background: rgb(20, 20, 20);
  grid-template-columns: 1fr 0% 1in 9.5in 1in 0% 1fr;
  height: 6em;
}

.topbar {
  grid-column: 3/6;
}

.logo {
  width: 3em;
  margin: auto;
  margin-left: .5in;
  margin-top: 1em;
}

.filter {
  text-align: right;
  font-size: 1.25em;
  padding: 1.5em 0em;
  grid-column: 5/6;
  margin-top: -4em;
}

a {
  text-decoration: none;
  color: rgb(235, 235, 235);
}

a:hover {
  color: rgb(200, 200, 200);
  text-decoration: underline;
}

article {
  display: grid;
  grid-template-columns: 1fr .5in [start] 1in 8.5in 1in [end] .5in 1fr;
  padding-bottom: 15rem;
}

article * {
  grid-column: start / end;
}

footer {
  background-color: rgb(30, 30, 30);
  height: 48px;
  padding: 16px;
  margin-top: auto;
}

@media (max-width: 11.5in) {
  article {
    grid-template-columns: 1fr 5% [start] 7.5% 75% 7.5% [end] 5% 1fr;
  }

  header {
    grid-template-columns: 1fr 2.5% 0% 95% 0% 2.5% 1fr;
  }
}
img.social {
  height: 2em;
  margin-top: .5em;
  filter: invert(75%);
}
.social:hover {
  opacity: 0.6;
}
.logo {
    margin-left: 2.5%;
}

.top-img {
  grid-column: 2/7;
}

.embedded-img {
  grid-column: 3/6;
}

.embedded-img2 {
  grid-column: 4/5;
}

img.top-img,
img.embedded-img,
.embedded-img2 {
  width: 100%;
}


.bar {
  margin: 0 .1em;
}

/*div.sidebar{
  height: 30em;
  width: .25em;
  border-radius:.5em;
  position:flex ;
  border: 1px outset rgba(0, 0, 0, 1);
  background: linear-gradient(20deg, rgb(0, 82, 41) 10%, rgb(0, 35, 131) 70% );
  background-size:  100% 400%;
  animation: gradient 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {background-position: 0% 0%;}

  50% {background-position: 0% 100%;}

  100% {background-position: 0% 0%;}
}
*/