body {
  display: block;
  background:rgb(40, 40, 40);
  height: 100vh;
  color: rgb(236, 236, 236);
  font-family: 'Courier new';
  font-size: .875em;
  margin:0;
  padding:0;
}

header {
  display:grid;
  background:rgb(30, 30, 30);
  grid-template-columns: 1fr 0% 1in 9.5in 1in 0% 1fr ;
  height:5em;
  width:100%
  hei
}

.filter {
  text-align: right;
  font-size: 1.25em;
  padding: 1.5em 0em;
  grid-column: 3/6;
}

a{
  text-decoration: none;
  color: rgb(230, 230, 230);;
}

a:hover{
  color: rgb(200, 200, 200);;
  text-decoration: underline;
}

article {
  display:grid;
  grid-template-columns: 1fr .5in [start] 1in 8.5in 1in [end] .5in 1fr ;
  height: 100vh ;
}
article * {grid-column: start / end;}

@media (max-width: 11.5in) {
    article {grid-template-columns: 1fr 5% [start] 7.5% 75% 7.5% [end] 5% 1fr ;}
    header {grid-template-columns: 1fr 2.5% 0% 95% 0% 2.5% 1fr;}
}

.top-img { grid-column: 2/7;}
.embedded-img {grid-column: 3/6;}
.embedded-img2 {grid-column: 4/5;}
img.top-img, img.embedded-img,.embedded-img2  {width: 100%;}


.bar {
  margin: 0 .1em;
}

div.sidebar{
  height: 30em;
  width: .25em;
  border-radius:.5em;
  position:flex ;
  border: 1px outset rgba(0, 0, 0, 1);
  background: linear-gradient(20deg, rgb(0, 82, 41) 10%, rgb(0, 35, 131) 70% );
  background-size:  100% 400%;
  animation: gradient 10s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {background-position: 0% 0%;}

  50% {background-position: 0% 100%;}

  100% {background-position: 0% 0%;}
}
